section.shots-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 48px;
}

figure {
  margin: 0;
}

figcaption {
  margin-bottom: 8px;
}

figcaption > h3 {
  margin: 0;
}

figcaption > p {
  text-align: left;
}

ul.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 16px;
  justify-content: center;
}

